* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  font-family: sans-serif;
}
.header {
  height: 148px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-color: #8ce99a;
}

.header h1 {
  font-size: 48px;
}
.header input {
  width: 32rem;
  height: 47px;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: 34rem 80rem;
  height: 60vh;
}
.productList {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.productItem {
  cursor: pointer;
  margin-top: 10px;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productItem img {
  width: 200px;
  border-radius: 50%;
}

.kart {
  margin-top: 10px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kart img {
  width: 56px;
  border-radius: 50%;
}
